<header>
    <div>
        <img src="images/home/logo.png" alt=""/>
        <ul>
            <li><a href="#home">首页</a></li>
            <li><a href="" ng-click="">就业前景</a></li>
            <li><a href="" ng-click="">软融优势</a></li>
            <li><a href="" ng-click="">项目展示</a></li>
            <li><a href="" ng-click="">合作企业</a></li>
        </ul>
    </div>
</header>
<div class="rel pct100 cBanner">
    <img src="images/c/banner.png" alt="" class="pct100" style="height: 605px;"/>
    <p class="abs pct100 tc wh">C++工程师零基础高薪就业</p>
    <p class="abs pct100 tc wh">学习工作一步到位</p>
    <div class="cButton abs fw">点击报名</div>
</div>
<div class="pct100 cContent1">
    <div class="pct100"><img src="images/c/titl1.png" alt="" class="auto db"/></div>
    <div class="df jcc" style="margin-top: 60px;">
        <div style="margin-right: 136px;">
            <p class=" f36 g1">世界编程语言排行版之C++</p>
            <img src="images/c/c1.png" alt="" style="margin-top: 50px;"/>
        </div>
        <div>
            <p class=" f36 g1">C++开发者薪资变化趋势</p>
            <img src="images/c/c2.png" alt="" style="margin-top: 50px;"/>
        </div>
    </div>
    <p class="cSelect"><span>你</span>可以选择做C++开发</p>
    <ul class="cIntro df jcsb">
        <li><img src="images/c/intro1.png" alt=""/></li>
        <li><img src="images/c/intro2.png" alt=""/></li>
        <li><img src="images/c/intro3.png" alt=""/></li>
        <li><img src="images/c/intro4.png" alt=""/></li>
    </ul>
    <div class="cAction">立即行动！不再眼红别人的成功>></div>
</div>