<header>
    <div>
        <img src="images/home/logo.png" alt=""/>
        <ul>
            <li><a href="">首页</a></li>
            <li><a href="">培训课程</a></li>
            <li><a href="">师资力量</a></li>
            <li><a href="">学习环境</a></li>
            <li><a href="">关于我们</a></li>
        </ul>
    </div>
</header>
<div id="banner_tabs" class="flexslider">
    <ul class="slides">
        <li>
            <a title="" target="_blank" href="#">
                <img width="1920" height="482" alt="" style="background: url(images/home/banner_bg.png) no-repeat center;" src="images/home/alpha.png">
            </a>
            <h1>JAVA</h1>
            <p>学习工作一步到位</p>
            <button>点击报名</button>
        </li>
        <li>
            <a title="" href="#">
                <img width="1920" height="482" alt="" style="background: url(images/home/banner2.jpg) no-repeat center;" src="images/home/alpha.png">
            </a>
        </li>
        <li>
            <a title="" href="#">
                <img width="1920" height="482" alt="" style="background: url(images/home/banner3.jpg) no-repeat center;" src="images/home/alpha.png">
            </a>
        </li>
        <li>
            <a title="" href="#">
                <img width="1920" height="482" alt="" style="background: url(images/home/banner2.jpg) no-repeat center;" src="images/home/alpha.png">
            </a>
        </li>
    </ul>
    <ul class="flex-direction-nav">
        <li><a class="flex-prev" href="javascript:;">Previous</a></li>
        <li><a class="flex-next" href="javascript:;">Next</a></li>
    </ul>
    <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
        <li class="active"><a>1</a></li>
        <li><a>2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
    </ol>
</div>
<div class="df aic" style="margin-top: 68px;">
    <span class="fx1 border"></span>
    <div >
        <h1 class="tc fw">培训课程</h1>
        <p class="tc fw">TRAINING COURSE</p>
    </div>
    <span class="fx1 border"></span>
</div>
<ul class="df jcsb home-course">
    <li>
        <img src="images/home/courseOne.png" alt=""/>
        <div>
            <img src="images/home/pic_class01.png" alt=""/>
            <div  ng-mouseover="active=true" ng-mouseleave="active=false" ng-class="{'home-course-active':active,'tc':true}">
                <h1 class="f26 tc n" ng-class="{'home-course-h1-active':active}">JAVA高级培训</h1>
                <p class="" ng-class="{'home-course-p-active':active}">java是一种可以撰写跨平台应用软件的面向对象的程序设计语言。</p>
                <span class="dib" ng-class="{'home-course-button-active':active}">了解更多</span>
            </div>
        </div>
    </li>
    <li>
        <img src="images/home/courseTwo.png" alt=""/>
        <div>
            <img src="images/home/pic_class02.png" alt=""/>
            <div class="tc">
                <h1 class="f26 tc n">JAVA高级培训</h1>
                <p class="">java是一种可以撰写跨平台应用软件的面向对象的程序设计语言。</p>
                <span class="dib">了解更多</span>
            </div>
        </div>
    </li>
    <li>
        <img src="images/home/courseThree.jpg" alt=""/>
        <div>
            <img src="images/home/pic_class03.png" alt=""/>
            <div class="tc">
                <h1 class="f26 tc n">JAVA高级培训</h1>
                <p class="">java是一种可以撰写跨平台应用软件的面向对象的程序设计语言。</p>
                <span class="dib">了解更多</span>
            </div>
        </div>
    </li>
    <li>
        <img src="images/home/courseFour.png" alt=""/>
        <div>
            <img src="images/home/pic_class04.png" alt=""/>
            <div class="tc">
                <h1 class="f26 tc n">JAVA高级培训</h1>
                <p class="">java是一种可以撰写跨平台应用软件的面向对象的程序设计语言。</p>
                <span class="dib">了解更多</span>
            </div>
        </div>
    </li>
</ul>
<div class="df aic" style="margin-top: 125px;">
    <span class="fx1 border"></span>
    <div >
        <h1 class="tc fw">师资力量</h1>
        <p class="tc fw">Teachers huge</p>
    </div>
    <span class="fx1 border"></span>
</div>
<div class="df aic" style="margin-top: 125px;">
    <span class="fx1 border"></span>
    <div >
        <h1 class="tc fw">学习环境</h1>
        <p class="tc fw">environment</p>
    </div>
    <span class="fx1 border"></span>
</div>
<div class="home-room df jcc">
    <div>
        <img src="images/home/room1.png" alt=""/>
        <div style="position: absolute;bottom: 0;width: 100%;height: 120px;background: rgba(0,0,0,0.6);">
            <p class="tc fw" style="font-size: 35px;color: #fff;line-height: 72px;">思考，思想、交流</p>
            <p class="tc" style="font-size: 27px;color: #fff;"> thinking, communication</p>
        </div>
    </div>
    <div>
        <div>
            <img src="images/home/room2.png" alt=""/>
            <div style="position: absolute;bottom: 0;width: 100%;height: 120px;background: rgba(0,0,0,0.6);">
                <p class="tl fw" style="font-size: 35px;color: #fff;line-height: 72px;padding-left: 64px;">思考，思想、交流</p>
                <p class="tl" style="font-size: 27px;color: #fff;padding-left: 54px;"> thinking, communication</p>
            </div>
        </div>
        <div class="df" style="margin-top: 45px">
            <div style="margin-right: 45px;">
                <img src="images/home/room3.png" alt=""/>
                <div style="position: absolute;bottom: 0;width: 100%;height: 120px;background: rgba(0,0,0,0.6);">
                    <p class="tc fw" style="font-size: 35px;color: #fff;line-height: 72px;">思考，思想、交流</p>
                    <p class="tc" style="font-size: 27px;color: #fff;"> thinking, communication</p>
                </div>
            </div>
            <div>
                <img src="images/home/room4.png" alt=""/>
                <div class="fw" style="position: absolute;  top:70px;padding-left: 41px;width: 320px;line-height: 60px;font-size: 36px;color: #fff;">
                    让你心无旁骛<br>的学习环境<br>融洽、活跃、和谐<br>思考和交流
                </div>
            </div>
        </div>
    </div>
</div>
