<header>
    <div>
        <img src="images/home/logo.png" alt=""/>
        <ul>
            <li><a href="">首页</a></li>
            <li><a href="">培训课程</a></li>
            <li><a href="">师资力量</a></li>
            <li><a href="">学习环境</a></li>
            <li><a href="">关于我们</a></li>
        </ul>
    </div>
</header>
<div id="banner_tabs" class="flexslider">
    <ul class="slides">
        <li>
            <a title="" target="_blank" href="#">
                <img width="1920" height="482" alt="" style="background: url(images/home/banner_bg.png) no-repeat center;" src="images/home/alpha.png">
            </a>
            <h1>JAVA</h1>
            <p>学习工作一步到位</p>
            <button>点击报名</button>
        </li>
        <li>
            <a title="" href="#">
                <img width="1920" height="482" alt="" style="background: url(images/home/banner2.jpg) no-repeat center;" src="images/home/alpha.png">
            </a>
        </li>
        <li>
            <a title="" href="#">
                <img width="1920" height="482" alt="" style="background: url(images/home/banner3.jpg) no-repeat center;" src="images/home/alpha.png">
            </a>
        </li>
        <li>
            <a title="" href="#">
                <img width="1920" height="482" alt="" style="background: url(images/home/banner2.jpg) no-repeat center;" src="images/home/alpha.png">
            </a>
        </li>
    </ul>
    <ul class="flex-direction-nav">
        <li><a class="flex-prev" href="javascript:;">Previous</a></li>
        <li><a class="flex-next" href="javascript:;">Next</a></li>
    </ul>
    <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
        <li class="active"><a>1</a></li>
        <li><a>2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
    </ol>
</div>