<header>
    <div>
        <img src="images/home/logo.png" alt=""/>
        <ul class="homeNav">
            <li><a href="#home">首页</a></li>
            <li ng-mouseover="topActive=true" ng-mouseleave="topActive=false" ng-class="{'headerActive':topActive}" style="background: url(images/home/down.png) no-repeat 126px center;">
                <a href="" ng-click="jump.homeClass()">培训课程</a>
                <ul class="topActive abs" ng-show="topActive">
                    <li><a href="#java">JAVA工程师</a></li>
                    <li><a href="#c">C++工程师</a></li>
                    <li><a href="">PHP工程师</a></li>
                    <li><a href="">UI设计师</a></li>
                </ul>
            </li>
            <li><a href="" ng-click="jump.homeTeacher()">师资力量</a></li>
            <li><a href="" ng-click="jump.homeLearn()">学习环境</a></li>
            <li><a href="" ng-click="jump.homeAbout()">关于我们</a></li>
        </ul>
    </div>
</header>
<div id="banner_tabs" class="flexslider ">
    <ul class="slides">
        <li>
            <a title="" target="_blank" href="#">
                <img width="1920" height="482" alt="" style="background: url(images/home/banner_bg.png) no-repeat center;" src="images/home/alpha.png">
            </a>
            <h1>JAVA</h1>
            <p>学习工作一步到位</p>
            <button>点击报名</button>
        </li>
        <li>
            <a title="" href="#">
                <img width="1920" height="482" alt="" style="background: url(images/home/banner2.jpg) no-repeat center;" src="images/home/alpha.png">
            </a>
        </li>
        <li>
            <a title="" href="#">
                <img width="1920" height="482" alt="" style="background: url(images/home/banner3.jpg) no-repeat center;" src="images/home/alpha.png">
            </a>
        </li>
        <li>
            <a title="" href="#">
                <img width="1920" height="482" alt="" style="background: url(images/home/banner2.jpg) no-repeat center;" src="images/home/alpha.png">
            </a>
        </li>
    </ul>
    <ul class="flex-direction-nav">
        <li><a class="flex-prev" href="javascript:;">Previous</a></li>
        <li><a class="flex-next" href="javascript:;">Next</a></li>
    </ul>
    <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
        <li class="active"><a>1</a></li>
        <li><a>2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
    </ol>
</div>
<div class="df aic" style="margin-top: 68px;" id="homeClass">
    <span class="fx1 border"></span>
    <div >
        <h1 class="tc fw">培训课程</h1>
        <p class="tc fw">TRAINING COURSE</p>
    </div>
    <span class="fx1 border"></span>
</div>
<ul class="df jcsb home-course">
    <li>
        <img src="images/home/courseOne.png" alt=""/>
        <div>
            <img src="images/home/pic_class01.png" alt=""/>
            <div  ng-mouseover="active=true" ng-mouseleave="active=false" ng-class="{'home-course-active':active,'tc':true}">
                <h1 class="f26 tc n fw" ng-class="{'home-course-h1-active':active}">JAVA高级培训</h1>
                <p class="" ng-class="{'home-course-p-active':active}">java是一种可以撰写跨平台应用软件的面向对象的程序设计语言。</p>
                <span class="dib" ng-class="{'home-course-button-active':active}">了解更多</span>
            </div>
        </div>
    </li>
    <li>
        <img src="images/home/courseTwo.png" alt=""/>
        <div>
            <img src="images/home/pic_class02.png" alt=""/>
            <div class="tc">
                <h1 class="f26 tc n fw">JAVA高级培训</h1>
                <p class="">java是一种可以撰写跨平台应用软件的面向对象的程序设计语言。</p>
                <span class="dib">了解更多</span>
            </div>
        </div>
    </li>
    <li>
        <img src="images/home/courseThree.jpg" alt=""/>
        <div>
            <img src="images/home/pic_class03.png" alt=""/>
            <div class="tc">
                <h1 class="f26 tc n fw">JAVA高级培训</h1>
                <p class="">java是一种可以撰写跨平台应用软件的面向对象的程序设计语言。</p>
                <span class="dib">了解更多</span>
            </div>
        </div>
    </li>
    <li>
        <img src="images/home/courseFour.png" alt=""/>
        <div>
            <img src="images/home/pic_class04.png" alt=""/>
            <div class="tc">
                <h1 class="f26 tc n fw">JAVA高级培训</h1>
                <p class="">java是一种可以撰写跨平台应用软件的面向对象的程序设计语言。</p>
                <span class="dib">了解更多</span>
            </div>
        </div>
    </li>
</ul>
<div class="df aic" style="margin-top: 125px;" id="homeTeacher">
    <span class="fx1 border"></span>
    <div >
        <h1 class="tc fw">师资力量</h1>
        <p class="tc fw">Teachers huge</p>
    </div>
    <span class="fx1 border"></span>
</div>
<div class="df aic" style="margin-top: 125px;" id="homeLearn">
    <span class="fx1 border"></span>
    <div >
        <h1 class="tc fw">学习环境</h1>
        <p class="tc fw">environment</p>
    </div>
    <span class="fx1 border"></span>
</div>
<div class="home-room df jcc">
    <div>
        <img src="images/home/room1.png" alt=""/>
        <div style="position: absolute;bottom: 0;width: 100%;height: 120px;background: rgba(0,0,0,0.6);">
            <p class="tc fw" style="font-size: 35px;color: #fff;line-height: 72px;">思考，思想、交流</p>
            <p class="tc" style="font-size: 27px;color: #fff;"> thinking, communication</p>
        </div>
    </div>
    <div>
        <div>
            <img src="images/home/room2.png" alt=""/>
            <div style="position: absolute;bottom: 0;width: 100%;height: 120px;background: rgba(0,0,0,0.6);">
                <p class="tl fw" style="font-size: 35px;color: #fff;line-height: 72px;padding-left: 64px;">思考，思想、交流</p>
                <p class="tl" style="font-size: 27px;color: #fff;padding-left: 54px;"> thinking, communication</p>
            </div>
        </div>
        <div class="df" style="margin-top: 45px">
            <div style="margin-right: 45px;">
                <img src="images/home/room3.png" alt=""/>
                <div style="position: absolute;bottom: 0;width: 100%;height: 120px;background: rgba(0,0,0,0.6);">
                    <p class="tc fw" style="font-size: 35px;color: #fff;line-height: 72px;">思考，思想、交流</p>
                    <p class="tc" style="font-size: 27px;color: #fff;"> thinking, communication</p>
                </div>
            </div>
            <div>
                <img src="images/home/room4.png" alt=""/>
                <div class="fw" style="position: absolute;  top:70px;padding-left: 41px;width: 320px;line-height: 60px;font-size: 36px;color: #fff;">
                    让你心无旁骛<br>的学习环境<br>融洽、活跃、和谐<br>思考和交流
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="df aic" style="margin-top: 125px;" id="homeAbout">
        <span class="fx1 border"></span>
        <div >
            <h1 class="tc fw">关于我们</h1>
            <p class="tc fw">about us</p>
        </div>
        <span class="fx1 border"></span>
    </div>
    <p class="home-intro">
        <span>软融学院</span>是上海窝游信息技术有限公司旗下机构，创办于2008年，是一家从事IT教育培训的机构。公司致力于IT培训业,以就业和企业解决方案为导向、以人才为根本、以技术为核心，着力培养深受软件企业欢迎的实用型人才，解决IT企业热门技术的难点。
    </p>
    <ul class="home-aboutUs df fww jcsb">
        <li class="df aic">
            <div class="tc">
                <img src="images/home/intro-hope.png" alt=""/>
                <p class="tc">企业愿景</p>
            </div>
            <p>打造中国IT职业教育品牌，构建互联网职业教育绿色生态圈。</p>
        </li>
        <li class="df aic">
            <div class="tc">
                <img src="images/home/intro-value.png" alt=""/>
                <p class="tc">价值观</p>
            </div>
            <p>治学严谨、教学内容实效、模式创新、实时分享、敬业、包容</p>
        </li>
        <li class="df aic">
            <div class="tc">
                <img src="images/home/intro-mission.png" alt=""/>
                <p class="tc">企业使命</p>
            </div>
            <p>教育创造美好未来！<br> 对于客户——持续就业的竞争能力；<br> 对于员工——快乐、成长；<br> 对于社会——为企业输送高品质人才，提升企业核</p>
        </li>
        <li class="df aic">
            <div class="tc">
                <img src="images/home/intro-stand.png" alt=""/>
                <p class="tc">企业立足</p>
            </div>
            <p>网站立足于中国IT在线教育技术的前沿，为在校大学生、应届毕业生、社会就业者提供热门、高实战性、高性价比的IT在线培训服务。</p>
        </li>
    </ul>
</div>
<div class="df aic" style="margin-top: 125px;">
    <span class="fx1 border"></span>
    <div >
        <h1 class="tc fw">合作伙伴</h1>
        <p class="tc fw">cooperative partner</p>
    </div>
    <span class="fx1 border"></span>
</div>
<ul class="home-cooperative df fww jcsb">
    <li><a href="" ><img src="images/home/58-logo.png" alt=""/></a></li>
    <li><a href="" ><img src="images/home/alibaba-logo.png" alt=""/></a></li>
    <li><a href="" ><img src="images/home/amazon-logo.png" alt=""/></a></li>
    <li><a href="" ><img src="images/home/baidu-logo.png" alt=""/></a></li>
    <li><a href="" ><img src="images/home/youku-logo.png" alt=""/></a></li>
    <li><a href="" ><img src="images/home/wy-logo.png" alt=""/></a></li>
    <li><a href="" ><img src="images/home/unicom-logo.png" alt=""/></a></li>
    <li><a href="" ><img src="images/home/taobao-logo.png" alt=""/></a></li>
    <li><a href="" ><img src="images/home/sohu-logo.png" alt=""/></a></li>
    <li><a href="" ><img src="images/home/cbank-logo.png" alt=""/></a></li>
    <li><a href="" ><img src="images/home/sina-logo.png" alt=""/></a></li>
    <li><a href="" ><img src="images/home/jd-logo.png" alt=""/></a></li>
</ul>
<div class="home-connect">
    <div class="df">
        <ul class="mt10">
            <li>培训中心</li>
            <li><a href="">web前端</a></li>
            <li><a href="">C++工程师</a></li>
            <li><a href="">PHP工程师</a></li>
            <li><a href="">UI设计师</a></li>
        </ul>
        <ul class="mt10">
            <li>关于我们</li>
            <li><a href="">师资力量</a></li>
            <li><a href="">学习环境</a></li>
            <li><a href="">软融官网</a></li>
            <li><a href="">合作伙伴</a></li>
        </ul>
        <ul class="mt10">
            <li>联系我们</li>
            <li>公司：窝游信息技术（上海）有限公司</li>
            <li>地址：上海市松江区江田东路185号9号楼208室</li>
            <li>邮箱：perterqiu@qq.com</li>
            <li>电话：021-67760799</li>
        </ul>
        <div class="home-wx tc">
            <img src="images/home/qrcode.png" alt=""/>
            <p class="tc">关注微信了解更多</p>
        </div>
        <div class="home-phone df fdc jcc">
            <p>021-67760799</p>
            <p>周一至周五 8:30-18:00</p>
            <p>客服随时在线哦</p>
        </div>
    </div>
</div>
<footer>
    <div class="df aic">
        <p>合作网站：</p>
        <ul class="df">
            <li><a href="">企福集团</a></li>
            <li><a href="">微信</a></li>
            <li><a href="">支付宝</a></li>
            <li><a href="">窝游云</a></li>
            <li><a href="">36K</a></li>
            <li><a href="">沃邻宝</a></li>
        </ul>
        <p class="ml10">@ranron.com版权所有  侵权必究  沪ICP备14038262号-2</p>
    </div>
</footer>