<header>
    <div>
        <img src="images/home/logo.png" alt=""/>
        <ul class="homeNav">
            <li><a href="#home">首页</a></li>
            <li><a href="#java" >JAVA</a></li>
            <li><a href="#c" >WEB</a></li>
            <li><a href="#php" >PHP</a></li>
            <li class="maxactiveP"><a href="#ui" class="maxactiveA">UI</a></li>
            <li><a href="#vr" >VR</a></li>
            <li><a href="#mg" >产品经理</a></li>
        </ul>
    </div>
</header>
<div class="rel pct100 cBanner" >
    <img src="images/ui/banner.png" alt="" class="pct100" style="height: 605px;"/>
    <p class="abs pct100 tc wh">UI设计师培训</p>
    <p class="abs pct100 tc wh">平面网页、界面设计、通通授课。</p>
    <div class="cButton abs fw" onclick="toshare()" style="right: 338px">了解更多</div><div class="cButton abs fw" style="left: 338px;" onclick="toshare()">点击报名</div>
</div>
<div class="uiContent1" id="uiEmploy">
    <div class="w1200 auto tc"><img src="images/ui/titl1.png" alt=""/></div>
    <p class="w1200 auto f24 g6">UI设计师的就业涉及范围非常广，包括商用平面设计、高级网页设计、移动应用界面设计及部分包装设计等等高薪岗位，是目前中国信息产业中<span>最为抢手</span>的人才之一。</p>
    <p class="w1200 auto f24 g6">另外UI设计行业内人才供不应求，设计人才缺口高达上千万，就业无忧。因人才的供不应求致使平均薪资水涨船高，最高的可达<span>月薪30000+</span>，可谓钱途无量。</p>
    <div class="w1200 auto tc" style="margin-top: 70px;margin-bottom: 50px;"><img src="images/ui/xiaoniaoti.png" alt=""/></div>
    <ul class="df jcsb fww">
        <li>
            <p>平面设计师</p>
        </li>
        <li>
            <p>网页设计师</p>
        </li>
        <li>
            <p>UI设计师</p>
        </li>
        <li>
            <p>网页制作</p>
        </li>
        <li>
            <p>电商美工</p>
        </li>
        <li>
            <p>移动应用界面设计</p>
        </li>
        <li>
            <p>图标图形设计</p>
        </li>
        <li>
            <p>交互设计</p>
        </li>
    </ul>
</div>
<div class="uiContent2" id="uiAdvantage">
    <div class="w1200 auto tc"><img src="images/ui/titl2.png" alt=""/></div>
    <div class="w1200 auto tc mt50"><img src="images/ui/icon.png" alt=""/></div>
    <ul class="df fww jcsb">
        <li class="df">
            <div><img src="images/ui/box4_1.png" alt=""/></div>
            <div class="ml20">
                <span>软件的深入解析</span>
                <p>8个经典设计软件及技术商业应用，让你从小白变大神，高薪就业！</p>
            </div>
        </li>
        <li class="df">
            <div><img src="images/ui/box4_2.png" alt=""/></div>
            <div class="ml20">
                <span>艺术与设计的结合</span>
                <p>明暗与透视，色彩学基础，色彩心理学，平面构成，形式美法则，交互设计、界面设计规范，创意设计能力。</p>
            </div>
        </li>
        <li class="df">
            <div><img src="images/ui/box4_3.png" alt=""/></div>
            <div class="ml20">
                <span>设计师的职业素养</span>
                <p>数字化信息处理，WEB项目实训，项目综合管理，思维导图等训练。</p>
            </div>
        </li>
        <li class="df">
            <div><img src="images/ui/box4_4.png" alt=""/></div>
            <div class="ml20">
                <span>海量项目实战与饱满教学</span>
                <p>超过100个实战项目案例且每周更新，600饱满课时，项目经验行业覆盖广。</p>
            </div>
        </li>
    </ul>
</div>
<div class="uiContent3" id="uiArrange">
    <div class="auto w1200 tc"><img src="images/ui/titl3.png" alt=""/></div>
    <ul class="df fww jcsb w1200 auto mt60 uiProgress">
        <li>
            <img src="images/ui/ui_icon1.png" alt="" index="1"/>
            <h1 class="tc n dn">第一阶段</h1>
            <h2 class="tc n uiTitle">软件应用</h2>
            <p class="uiArticle">熟练的软件操作技巧是一个设计师的必备技能，学习之初基本的软件运用和学习，是每位学员的必经之路。</p>
        </li>
        <li>
            <img src="images/ui/ui_icon2.png" alt="" index="2"/>
            <h1 class="tc n dn">第二阶段</h1>
            <h2 class="tc n uiTitle">艺术与设计的结合</h2>
            <p class="uiArticle">明暗与透视，色彩学基础，色彩心理学，平面构成，形式美法则，交互设计、界面设计规范，创意设计能力。</p>
        </li>
        <li>
            <img src="images/ui/ui_icon3.png" alt="" index="3"/>
            <h1 class="tc n dn">第三阶段</h1>
            <h2 class="tc n uiTitle">平面设计</h2>
            <p class="uiArticle">印刷和版式的知识对于设计师来说是必不可少的，学习版式设计和印刷，设计精美的版式掌握印刷必备的知识和技术。</p>
        </li>
        <li>
            <img src="images/ui/ui_icon4.png" alt="" index="4"/>
            <h1 class="tc n dn">第四阶段</h1>
            <h2 class="tc n uiTitle">网页设计</h2>
            <p class="uiArticle">通过实际项目训练讲解，掌握个性化网站的核心，可设计具有强冲击力的特效网站，例如个人网站，项目专题等。</p>
        </li>
        </ul>
        <ul class="df fww jcsb w1200 auto uiProgress">
        <li>
            <img src="images/ui/ui_icon5.png" alt="" index="5"/>
            <h1 class="tc n dn">第五阶段</h1>
            <h2 class="tc n uiTitle">图标设计</h2>
            <p class="uiArticle">学习UI设计基础知识及规范，手机交互的基本规范，不同风格的APP图标高质量设计，不同终端界面设计规范知识。</p>
        </li>
        <li>
            <img src="images/ui/ui_icon6.png" alt="" index="6"/>
            <h1 class="tc n dn">第六阶段</h1>
            <h2 class="tc n uiTitle">网站制作</h2>
            <p class="uiArticle">学习网站制作的理论基础知识，认识HTML标签，学习如何用HTML搭建网页结构，掌握css相关技巧并解决浏览器兼容性问题。</p>
        </li>
        <li>
            <img src="images/ui/ui_icon7.png" alt="" index="7"/>
            <h1 class="tc n dn">第七阶段</h1>
            <h2 class="tc n uiTitle">移动端设计</h2>
            <p class="uiArticle">讲解网站制作入门基础理论知识，学JavaScrip基础语法，实现常见的网页行为，熟练掌握jQuery制作网页特效。</p>
        </li><li>
        <img src="images/ui/ui_icon8.png" alt="" index="8"/>
        <h1 class="tc n dn">第八阶段</h1>
        <h2 class="tc n uiTitle">APP项目</h2>
        <p class="uiArticle">与众企业合作，对企业项目进行改版；组织学员参与企业项目的研发；组织小组团队模拟APP项目开发。</p>
    </li>
    </ul>
</div>
<div class="uiContent4" id="uiProject">
    <div class="w1200 auto tc"><img src="images/ui/titl4.png" alt=""/></div>
    <ul class="df fww jcsb">
        <li><img src="images/ui/project1.png" alt=""/></li>
        <li><img src="images/ui/project2.png" alt=""/></li>
        <li><img src="images/ui/project3.png" alt=""/></li>
        <li><img src="images/ui/project4.png" alt=""/></li>
        <li><img src="images/ui/project5.png" alt=""/></li>
        <li><img src="images/ui/project6.png" alt=""/></li>
        <li><img src="images/ui/project7.png" alt=""/></li>
        <li><img src="images/ui/project8.png" alt=""/></li>
    </ul>
</div>
<div class="uiFooter" id="">
    <div>
        <p>当他们经过自己的努力，改变了命运 你缺的只是点击的勇气。</p>
        <p>你缺的只是点击的勇气</p>
        <span class="uiB" onclick="toshare()">了解更多</span>
        <span class="uiB" onclick="toshare()">点击报名</span>
    </div>
</div>
<div class="home-connect" style="background: #666;">
    <div class="df">
        <ul class="mt10" >
            <li style="color: rgb(238, 238, 238) !important;">培训中心</li>
            <li ><a href="#c" style="color: rgb(238, 238, 238) !important;">web前端</a></li>
            <li><a href="#java" style="color: rgb(238, 238, 238) !important;">Java工程师</a></li>
            <li><a href="#php" style="color: rgb(238, 238, 238) !important;">PHP工程师</a></li>
            <li><a href="#ui" style="color: rgb(238, 238, 238) !important;">UI设计师</a></li>
        </ul>
        <ul class="mt40" style="margin-top:44px;">
            <li style="font-size: 14px;opacity: 0.7;font-weight: normal;"><a href="#vr" style="color: rgb(238, 238, 238) !important;">VR设计师</a></li>
            <li><a href="#mg" style="color: rgb(238, 238, 238) !important;">产品经理</a></li>
        </ul>
        <ul class="mt10">
            <li style="color:#eee!important;">关于我们</li>
            <li><a href="" style="color:#eee!important;">师资力量</a></li>
            <li><a href="" style="color:#eee!important;">学习环境</a></li>
            <li><a href="" style="color:#eee!important;">软融官网</a></li>
            <li><a href="" style="color:#eee!important;">合作伙伴</a></li>
        </ul>
        <ul class="mt10">
            <li style="color:#eee!important;">联系我们</li>
            <li style="color:#eee!important;">公司：窝游信息技术（上海）有限公司</li>
            <li style="color:#eee!important;">地址：上海市松江区江田东路185号9号楼208室</li>
            <li style="color:#eee!important;">邮箱：perterqiu@qq.com</li>
            <li style="color:#eee!important;">电话：021-67760799</li>
        </ul>
        <div class="home-wx tc">
            <img src="images/home/qrcode.png" alt=""/>
            <p class="tc" style="color:#fff!important;">关注微信了解更多</p>
        </div>
        <div class="home-phone df fdc jcc">
            <p style="color:#fff!important;">021-67760799</p>
            <p style="color:#fff!important;">周一至周五 8:30-18:00</p>
            <p style="color:#00bbd3!important;">客服随时在线哦</p>
        </div>
    </div>
</div>
<footer>
    <div class="df aic">
        <p>合作网站：</p>
        <ul class="df">
            <li><a href="">企福集团</a></li>
            <li><a href="">微信</a></li>
            <li><a href="">支付宝</a></li>
            <li><a href="">窝游云</a></li>
            <li><a href="">36K</a></li>
            <li><a href="">沃邻宝</a></li>
        </ul>
        <p class="ml10">@ranron.com版权所有  侵权必究  沪ICP备14038262号-2</p>
    </div>
</footer>